*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}
.container{
  margin: 0 auto;
  max-width: 530px;
  padding: 0 15px;
}
.title{
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 50px;
}
#root{
  height: 100vh;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgb(100, 100, 100);
}

.main__container{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.button{
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 500;
  background-color: rgb(234, 103, 125);
  border: 0;
  transition: all .3s;
  color: white;
}
.button:hover{
  opacity: .7;
}
.input{
  font-size: 18px;
  font-weight: 300;
  padding: 15px 20px;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgb(100, 100, 100);
  color: rgb(100, 100, 100);
}